.button-name-learn-more{
    display: inline-block;
    font-size: 15.4px;
    font-family: "Fredoka", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    color: white;
    background: var(--button-color);
    padding: 22px 51px;
    border-radius: 20px;
    margin-top: 25px;
}
.button-name-learn-more:hover{
    transform: 10;
    text-decoration: none;
    display: inline-block;
    font-size: 15.4px;
    font-family: "Fredoka", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    color: white;
    background: var(--dark-button-color);
    padding: 22px 51px;
    border-radius: 20px;
    margin-top: 25px;
}