@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    block-size: border-box;
}

:root {
    --collor-accent: rgb(249, 186, 56);
    --color-main-text: #ffffff;
    --color-background-card: rgb(14, 49, 84);
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}