.footer {
    background-image: url(../img/footer/head-photo-footer.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 450px;
    width: 100%;
    padding-top: 40px;
    background-color: var(--accent-color);
}


.footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer__logo-block {
    max-width: 350px;
    flex: 1;
}

.footer__logo-section {
    margin-bottom: 30px;
}

.footer__logo-link img {
    max-width: 150px;
    height: auto;
}

.footer__description {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.6;
    align-items: center;
    color: var(--color-white);
}

.footer__social-icons-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 115px;
}

.footer__social-icons-list-item {
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: var(--color-icons);
    border-radius: 8px;
    color: var(--color-icons);
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.footer__social-icons-list-item a {
    color: var(--icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.footer__social-icons-list-item:hover {
    text-decoration: underline;
    background-color: var(--color-berry);
}

.color-icon {
    color: var(--icon-color);
}

.dash {
    margin-right: 8px;
    color: var(--color-white);
    font-weight: bold;
    font-size: 13px;
}

.footer__column {
    flex: 1;
    max-width: 250px;
    margin-bottom: 10px;
    margin-top: 40px;
    text-align: center;
    justify-content: space-between;
}

.footer__column-title {
    color: var(--color-sunshine-yellow);
    font-size: 24px;
    margin-bottom: 10px;
}

.footer__column-links {
    font-size: 14px;
    text-decoration: none;
    list-style: none;
    padding: 0;
}

.footer__column-links-item {
    margin-bottom: 8px;
    text-decoration: none;
}

.footer__column-links-item a {
    color: var(--color-white);
}

.footer__column-links-item a:hover {
    text-decoration: underline;
    color: var(--color-white);
}

.footer__buttom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--color-white);
}

.footer__buttom-contacts a {
    color: var(--color-white);
    text-decoration: none;
}

.footer__buttom-contacts a:hover {
    text-decoration: underline;
    color: var(--color-white);
}

@media (max-width: 765px) {

    .footer__container,
    .footer__buttom {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer__logo-block,
    .footer__social-icons-list,
    .footer__column,
    .footer__buttom-contacts {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .footer__social-icons-list-item {
        margin: 5px;
    }

    .footer__buttom-contacts a {
        display: block;
        margin-bottom: 10px;
    }
}

@media (max-width: 765px) {
    .footer {
        background-size: contain;
        background-position: top center;
    }
}

.footer__clock {
    padding-bottom: 10px;
    font-size: 20px;
    color: var(--color-white);
}
