.video {
    background-image: url("../img/section-video/background_section_video.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    justify-content: center;
}

.video_content-box {
    display: flex;
    flex-direction: column;
}
.video__container {
    max-width: 600px;
    height: auto;
    border-radius: inherit;
    margin: auto;
}

.video__player {
    margin: auto;
}
.video__image {
    max-width: 80%;
    margin: auto;
}

@media (max-width: 400px) {
    .video__image {
        max-width: 60%;
    } 
}

.video__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.video__text {
    text-align: center;
    tab-size: 25px;
    color: var(--color-main-text);
}

.video__cards {
    display: grid;
    gap: 15px;
    justify-content: center;
    flex-direction: row;
}

@media (min-width: 600px) {
    .video__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }  
}

@media (min-width: 945px) {
    .video__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }  
}

.video__card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 300px;
    height: 500px;
    margin: auto;
    
}

.video__card-con-item {
    display: block;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* justify-content: center; */
    align-content: center;
    justify-content: space-between;
    padding: 20px;
    background: var(--color-background-card);
    border-radius: 20px;
}

.video__card-image {
    width: 100px;
}

.video__card-title {
    color: var(--color-main-text);
    font-size: 20px;
}

.video__card-line {
    width: 100px;
    height: 2px;
    background: var(--color-main-text);
}

.video__card-description {
    color: var(--color-main-text);
}

.card__button {
    font-size: 15px;
    color: var(--color-main-text);
    width: 190px;
    height: 50px;
    border-radius: 25px;
    background-color: blue;
    padding: 10px 15px;
}