/* Загальні стилі для .header */
.header {
    background-image: url("../img/astronaut/astronaut.png");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    height: 850px;
}

/* Стилі навігації */
.header__navigation {
    padding: 30px 24px;
    display: flex;
    justify-content: space-between;
}
.header__navigation-logo img {
    width: 130px;
}
.header__navigation-menu-media {
    display: inline-block;
}
.header__navigation-menu{
    display: none;
}
.header .header__navigation-menu-link {
    text-decoration: none;
    color: var(--menu-color);
    font-size: 16px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.header .header__navigation-menu-link span {
    margin-right: 5px;
}

/* Стилі інформаційного блоку */
.header__start_info {
    padding: 100px 24px;
}
.header__start_info-introduction {
    font-size: 56px;
    font-family: "Fredoka", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    color: var(--color-main-text);
    line-height:1;
}
.header__start_info-about_company {
    font-size: 20px;
    font-family: "Nunito", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    color: var(--color-main-text);
    margin-top: 55px;
}
/* Стилі списків */
ul {
    margin: 0;
}
li {
    list-style-type: none;
}
.header__navigation-drop_down_menu{
    display: flex;
    position: relative;
    z-index: 50;
    top:35px;
    right: 18px;
    align-items: center;
    justify-content: flex-start;
    width: 24px;
    height: 16px;
}
.header__navigation-drop_down_menu span{
    height: 2px;
    width: 100%;
    transform:scale(1);
    background-color: var(--color-main-text);
}
.header__navigation-drop_down_menu::before, .header__navigation-drop_down_menu::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--color-main-text);
    transition: all 0.3s ease 0s;
}
.header__navigation-drop_down_menu::before{
    top: 0;
}
.header__navigation-drop_down_menu::after{
    bottom: 0;
}
.header__navigation-drop_down_menu.active span{
    transform: scale(0);
}
.header__navigation-drop_down_menu.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}
.header__navigation-drop_down_menu.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}
/* Адаптивні стилі */
@media (min-width: 768px) {

    .header__start_info {
        width: 72%;
        padding: 120px 40px 170px 40px;
    }
    .header__navigation {
        padding: 30px 40px;
    }
    .header__navigation-logo img {
        width: 160px;
    }
    .header__start_info-introduction{
        font-size: 65px;
    }
    .header__navigation-logo img {
        width: 130px;
    }
    .header{
        height: 942px;
    }

}
@media (min-width: 990px){
    .header__navigation-drop_down_menu{
        display: none;
    }
    .header__navigation-menu ul{
        display: flex;
        width: 568px;
        justify-content: space-between;
    }
    .header__navigation-menu{
        height: 76px;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}
@media (min-width: 1200px){
    .header__navigation-menu ul{
        display: flex;
        width: 580px;
        justify-content: space-between;
    }
    .header__navigation-menu{
        display: flex;
        height: 76px;
        justify-content: space-between;
        align-items: center;
        width: 720px;
        flex-direction: row;
    }
    .centering {
        width: 1200px;
        margin: auto;
    }
    .header__navigation{
        padding: 30px 40px;
    }
    .header__start_info-introduction, .header__start_info-about_company {
        width: 60%;
    }
    .header__start_info {
        padding-top: 170px;
    }
    .header__start_info {
        padding: 170px 40px 170px 40px;
        
    }
    .header__navigation-menu-media{
        display: inline-block;
    }
    .header__start_info-introduction{
        font-size: 75px;
    }
    .header{
        background-position: 0% 0%;
        height: 1110px;
    }
}
@media (min-width: 1500px){
    .centering {
        width: 1400px;
        margin: auto;
    }
    .header__navigation-menu ul {
        display: flex;
        width: 580px;
        justify-content: space-between;
    }
    .header__navigation-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 720px;
    }
    .header__navigation{
        padding: 30px 15px;
    }
    .header__start_info-introduction, .header__start_info-about_company {
        width: 50%;
    }
    .header__start_info{
        padding: 120px 40px;
    }
}
