/* Загальні стилі для .header */
.header {
    background-image: url("../img/astronaut/astronaut.png");
    background-size: cover; 
    background-repeat: no-repeat; 
}

/* Стилі навігації */
.header__navigation {
    padding: 30px 24px;
    display: flex;
    justify-content: space-between;
}
.header__navigation-logo img {
    width: 130px;
}
.header__navigation-menu-media {
    display: inline-block;
}
.header .header__navigation-menu-link {
    text-decoration: none;
    color: var(--menu-color);
    font-size: 16px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.header .header__navigation-menu-link span {
    margin-right: 5px;
}

/* Стилі інформаційного блоку */
.header__start_info {
    padding: 120px 24px;
}
.header__start_info-introduction {
    font-size: 75px;
    font-family: "Fredoka", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    color: var(--color-main-text);
}
.header__start_info-about_company {
    font-size: 20px;
    font-family: "Fredoka", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    color: var(--color-main-text);
    margin-top: 55px;
}
/* Стилі списків */
ul {
    margin: 0;
}
li {
    list-style-type: none;
}

/* Адаптивні стилі */
@media (min-width: 760px) {
    .header__start_info {
        width: 60%;
        padding: 120px 55px;
    }
    .header__navigation {
        padding: 30px 55px;
    }
    .header__navigation-logo img {
        width: 160px;
    }
}

@media (min-width: 1200px){
    .centering {
        width: 1200px;
        margin: auto;
    }
    .header__menu ul {
        display: flex;
        width: 580px;
        justify-content: space-between;
    }
    .header__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 720px;
    }
    .header__navigation{
        padding: 30px 40px;
    }
    .header__start_info-introduction, .header__start_info-about_company {
        width: 60%;
    }
    .header__start_info {
        padding-top: 170px;
    }
    .header__start_info {
        padding: 120px 40px;
    }
}
@media (min-width: 1500px){
    .centering {
        width: 1400px;
        margin: auto;
    }
    .header__menu ul {
        display: flex;
        width: 580px;
        justify-content: space-between;
    }
    .header__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 720px;
    }
    .header__navigation{
        padding: 30px 15px;
    }
    .header__start_info-introduction, .header__start_info-about_company {
        width: 50%;
    }
    .header__start_info{
        padding: 120px 40px;
    }
}