.video {
    background-image: url(img/.section-video/background-image);
    background-repeat: no-repeat;
}
.video__container {

    width: 600px;
    height: auto;
    border: ;
    border-radius: inherit;
}

.video__text {
    tab-size: 25px;
    color: var(--collor-accent);
}