.our-team__main {
  background-image: url(../img/team-profiles/bg-our-team.png);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff6b81;
  padding: 90px 0 50px 0;
  position: relative;
}

.our-team__container {
  max-width: 1200px;
  padding: 0 40px;
  margin: auto;
}

.our-team__title {
  font-family: "Fredoka", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 0 0 15px 0;
  line-height: 1;
}

.our-team__container-points {
  color: rgb(248, 186, 57);
  font-size: 21px;
  letter-spacing: 0px;
  font-weight: 400;
  text-align: center;
}

.our-team__description {
  font-family: "Fredoka", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding: 25px 0;
  line-height: 1, 5;
}

.our-team__carousel-profiles {
  display: flex;
}

.our-team__carousel-profiles-inner {
  display: flex;
  flex-direction: column;
}

.our-team img {
  max-width: 380px;
  padding: 12px 15px;
}

.our-team__carousel-button-left-small-arrow-svg,
.our-team__carousel-button-right-small-arrow-svg {
  width: 12px;
  height: 12px;
}

.our-team__carousel-button-left,
.our-team__carousel-button-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--color-main-text);
  opacity: 0.75;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.our-team__carousel-button-left {
  left: 10px;
}

.our-team__carousel-button-right {
  right: 10px;
}

.our-team__profile-name {
  font-family: "Fredoka", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 20px 0 10px 0;
  line-height: 1;
}

.our-team__profile-role {
  font-family: "Fredoka", sans-serif;
  color: rgb(255, 255, 255);
  opacity: 0.75;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 0 0 25px 0;
  line-height: 1;
}

@media (min-width: 600px) {
  .our-team__carousel-profiles-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 30px;
  }
  .our-team__carousel-button-left-small-arrow-svg,
  .our-team__carousel-button-right-small-arrow-svg {
    width: 20px;
    height: 20px;
  }
  .our-team__carousel-button-left,
  .our-team__carousel-button-right {
    width: 32px;
    height: 32px;
  }
}

@media (min-width: 900px) {
  .our-team__carousel-profiles-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
  }
  .our-team__carousel-button-left {
    left: 350px;
  }
  .our-team__carousel-button-right {
    right: 350px;
  }
}