.most-popular-game {
    background-image: url(../img/most-popular-games/background_most_popular_games.png);
    background-size: cover;
    color: var(--color-main-text);
    padding-top: 90px;
    padding-bottom: 80px;
    padding-left: 23px;
    padding-right: 23px;
}

.most-popular-game-title {
    text-align: center;
    font-family: "Fredoka One", sans-serif;
    font-size: 40px;
    margin-bottom: 0px;
} 

.most-popular-game-title-text {
    font-size: 22px;
    font-weight: bold;
}

.underline {
    flex: 1 1;
    border-bottom: 1px solid;
    color: var(--accent-color);
    min-width: 10px;
    width: 100%;
    margin: 7px;
}

.most-popular-game-points {
    text-align: center;
    font-family: "Fredoka One", sans-serif;
    font-size: 50px;
    color: var(--ui-brand-color);
}

.most-popular-game-text-explain {
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
}

.most-popular-game-page-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Nunito", sans-serif;
}

.most-popular-game-card {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [col1-start] 70px [col2-start] auto [col3-start] auto [col3-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
}

.most-popular-game-card-image {
    grid-column: col1-start;
    grid-row: row1-start / row2-end;
    width: 70px;
}

.most-popular-game-card-title {
    display: flex;
    justify-content: space-between;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin: 0px;
}

.most-popular-game-card-price {
    width: 39.6px;
    color: var(--ui-brand-color);
}

.most-popular-game-card-title-text{
    margin: 0px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    color: var(--menu-color);
}

.most-popular-game-card-details {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.most-popular-game-pages {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
}

.most-popular-game-page {
    padding: 16px;
    box-sizing: border-box;
    flex: 1 1 calc(33.333% - 32px);
}

@media (max-width: 768px) {

    .most-popular-game-page {
        flex: 1 1 100%;
    }
}