.top-games {
  background-image: url("../img/top-games/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Fredoka", sans-serif;
  padding: 90px 20px;
  min-width: 320px;
  color: var(--color-main-text);
}

.top-games__header {
  text-align: center;
  margin-bottom: 40px;
}

.top-games__title {
  font-family: 'Fredoka', sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0;
}

.top-games__subtitle {
  font-size: 40px;
  color: var(--color-accent);
  font-weight: 700;
  margin-top: -15px;
  margin-bottom: 20px;
}

.top-games__text {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

.top-games__carousel-games {
  position: relative;
  max-width: 1100px;
  margin: auto;
}

.top-games__carousel-games-inner-slide {
  display: flex;
  flex-direction: column;
  background-color: var(--background-border-top-game);
  overflow: hidden;
}

.top-games__carousel-games-inner-slide-game {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.top-games__carousel-games-inner-slide-container {
  font-family: 'Nunito', sans-serif;
  padding: 40px;
}

.top-games__carousel-games-inner-slide-title {
  color: var(--title-top-game-color);
  font-size: 26px;
  font-weight: 800;
}

.top-games__carousel-games-inner-slide-subtitle {
  color: var(--accent-top-game-color);
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  margin-top: -12px;
  margin-bottom: 10px;
}

.top-games__carousel-games-inner-slide-text {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.top-games__slide-details {
  margin-bottom: 20px;
}

.top-games__slide-details-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 12px;
}

.top-games__slide-details-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.top-games__slide-details-item-title {
  font-weight: 700;
}

.top-games__slide-details-item-text {
  color: var(--accent-top-game-color);
  font-weight: 600;
  padding-left: 5px;
}

.top-games__download-text {
  margin-bottom: 10px;
  font-weight: 700;
}

.top-games__download-links {
  display: grid;
  gap: 10px;
}

.top-games__download-link {
  width: 120px;
}

.top-games__carousel-games-button-left,
.top-games__carousel-games-button-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.top-games__carousel-games-button-left {
  left: -20px;
}

.top-games__carousel-games-button-right {
  right: -20px;
}

.top-games__carousel-games-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.top-games__carousel-games-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-main-text);
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
}

.top-games__carousel-games-dot.active {
  opacity: 1;
}

@media (min-width: 768px) {

  .top-games__title {
    font-size: 50px;
    }
  .top-games__subtitle {
    font-size: 60px;
  }

  .top-games__carousel-games-inner-slide {
    flex-direction: row;
    align-items: stretch;
  }

  .top-games__carousel-games-inner-slide-game {
    width: 45%;
    height: auto;
  }

  .top-games__carousel-games-inner-slide-container {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .top-games__download-links {
    display: flex;
    gap: 10px;
  }
  .top-games__carousel-games-button-left {
    left: -50px;
  }
  
  .top-games__carousel-games-button-right {
    right: -50px;
  }
}