.lets-create {
  background-image: url("../img/lets-create/backlets.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 0;
}

.lets-create__dot-group {
  color: var(--color-yellow);
  font-weight: auto;
  text-align: center;
}

.lets-create__title {
  font-family: "Fredoka", sans-serif;
  color: var(--color-white);
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1;
}

.lets-create__description {
  font-family: "Fredoka", sans-serif;
  color: var(--color-white);
  font-size: 18px;
  text-align: center;
}

.lets-create__button--contact {
  font-size: 14px;
  color: var(--color-white);
  padding: 15px 50px;
  background-color: var(--color-yellow);
  border-radius: 20px;
  font-weight: bold;
  border: none;
}

.time-flies__button--learn-more:hover {
  cursor: pointer;
}

.lets-create__actions {
  font-family: "Fredoka", sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.lets-create__text--primary,
.lets-create__text--secondary {
  text-align: center;
  display: block;
  margin: 0;
}
