.time-flies {
  background-image: url("../img/time-flies/backflies.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 90px 0;
}

.time-flies__title {
  font-family: "Fredoka", sans-serif;
  color: var(--color-white);
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1;
}

.time-flies__title--secondary {
  font-family: "Fredoka", sans-serif;
  font-size: 56px;
  color: var(--color-yellow);
  font-weight: bold;
}

.time-flies__text--primary {
  font-family: "Fredoka", sans-serif;
  color: var(--color-white);
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 1.5;
  max-width: 800px;
}

.time-flies__text--secondary {
  font-family: "Fredoka", sans-serif;
  color: var(--color-white);
  font-size: 18px;
}

.time-flies__dots-group {
  color: var(--color-white);
  font-weight: auto;
}

.time-flies__button--learn-more {
  font-family: "Fredoka", sans-serif;
  font-size: 14px;
  color: var(--color-white);
  display: inline-block;
  padding: 15px 50px;
  text-decoration: none;
  background-color: var(--color-yellow);
  border-radius: 20px;
  font-weight: bold;
  border: none;
}

.time-flies__button--learn-more:hover {
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-yellow);
  text-decoration: none;
}

.time-flies__title,
.time-flies__title--secondary {
  display: inline;
  margin-right: 10px;
  text-align: center;
}

.time-flies__button--learn-more {
  font-family: "Fredoka", sans-serif;
}

.general {
  width: 40%;
  margin-left: 10%;
}
