@import "global.css";
@import "controls.css";
@import "global.header.partial.css";
@import "index.section-top-games.css";
@import "global.section-video.partial.css";
@import "global-footer.css";
@import "index.section-time-flies.css";
@import "index.section-lets-create.css";
@import "index.section-info.partial.css";
@import "index.section-testimonials.css";
@import "index.section-our-team.css";
@import "new-mobile-games-carousel.css";
@import "index.section-join-the-game.css";
@import "carousel.css";
@import "index.section-join-the-game.css";
@import "index.section-most-popular-game.partial.css"
@import "index.section-our-jorney.css"
