@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0px;
    padding: 0px;
    

}

.new-mobile-games{
    background-image: url(../img/new-mobile-games-carousel/background_color.png)
}

.new-mobile-games__carousel-photo {
    width: 293px;
    /*height: 508.375px;*/


}

.new-mobile-games__carousel-app-store,
.new-mobile-games__carousel-google-play {
    width: 120px;
    height: 41.5875px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 0.8px solid rgb(166, 166, 166);
    display: flex;


}



.new-mobile-games__title {
    font-family: "Fredoka", sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-size: 63px;
    font-weight: bold;
    

}

.new-mobile-games__points {
    margin: 0px;
    text-align: center;
    color: rgb(227, 196, 15);

}

.new-mobile-games__text {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: white;
    margin-bottom: 24px;


}
.new-mobile-games__carousel-slide{
    width: 30%;
}

@media (min-width:700px) {
    .new-mobile-games__carousel-slide {
        width: 80%;
    }
}

.new-mobile-games__points {
    color: rgb(249, 186, 56);
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-top: -55px;
    margin-bottom: 23px;
    font-weight: 700;
    
    

}

.new-mobile-games__carousel-slide{
    font-family: "Nunito Sans";
    color: rgb(255, 255, 255);
    margin: 25px;

}
.new-mobile-games__carousel-subtitle{
    font-style: italic;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 7px;
}
.new-mobile-games__carousel-title{
    font-size: 24px;
    font-weight: 800;
}

.new-mobile-games__carousel-svg{
    width: 20px;
}

.new-mobile-games__carousel-svg-and-p{
    display: flex;
}

.new-mobile-games__block-carousel{
    display: flex;
}

.new-mobile-games__block-carousel{
    justify-content: center;
}
.new-mobile-games__carousel-button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.new-mobile-games__carousel-svg-button{
    width: 18px;
    height: 18px;
    
}
.new-mobile-games__carousel-rating, .new-mobile-games__carousel-price,.new-mobile-games__carousel-platform{
    margin: 8px;
}
.new-mobile-games__carousel-app-store , .new-mobile-games__carousel-google-play{
    margin-top: 35px;
    margin-right: 15px;
}

.new-mobile-games__carousel-google-play {
    width: 135px;
    height: 41.4875px;
}
.new-mobile-games__carousel-sweet-world-text{
    margin-top: 30px;


}
.new-mobile-games__carousel-block-app-google{
    display: flex;

}

.new-mobile-games__points-point{
    margin-right: 3px;
}

.new-mobile-games{
    margin-bottom: 70px;
}
