<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="https://placekitten.com/96/139" type="image/x-icon">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</head>

<body>
    <!-- 1 Makovskiy -->
    <header data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.header.partial.html"></header>
    
    <!-- 2 3 Mihail Shamrin -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-video.partial.html"></section>

    <!-- 4 Kobylynskyi Nikita -->

    <!-- 5 Yulia Ivashko -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-time-flies.partial.html"></section>

    <!-- 6 Anna-Mariia Hyk -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-addition-to-code.partial.html"></section>

    <!-- 7 Nazar Kalitovskyi -->

    <!-- 8 maria repko  -->

    <!-- 9 Andriy Kravets -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-And-kra.partial.html"></section>

    <!-- 10 Yulia Ivahko -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-lets-create.partial.html"></section>

    <!-- 11 Daniel Jekiu -->

    <!-- 12 Elmira Karasova -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-our-team.partial.html"></section>
    <!-- 13 -->

    <!-- 14 Markiyan -->

    <!-- 15 Hnidets Iryna -->
</body>
</html>
